@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  color: #153462!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d0d0d0;
}


html{
 
}

.bg-secondary-1{
  background-color: #BAD1C2;
}

.full-height{
  height: 100vh;
}

.full-width {
  width: 100vw;
}

.clickable-text {
  cursor: pointer;
}
.heading-1 {
  font-size: 3rem!important;
}

.thumbnail-size {
  width: 80px;
  height: 80px;
}

.height-75 {
  height: 75vh;
}

.header-thumbnail {
  width: 40px;
  height: 40px;
}

.message-body {
  max-height: 85%;
  overflow-y: auto;
}

.w-80 {
  width: 80%;
}
.w-20 {
  width: 20%;
}
.max-w-75{
  max-width: 75%;
  min-width: fit-content;
}

.message-box {
  max-width: 75%;
  min-width: 25%;
}

.date-font{
  font-size: 10px;
  text-align: end;
}

.user-font {
  font-size: 12px;
}

.message-font {
  font-size: 20px;
  font-weight: bold;
}

